<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lxh.dao.ArticleClassMapper">
   <select id="listAllArticleClass" resultType="articleClass">
       SELECT article_class.`article_class_id`,
              article_class_name,
              COALESCE(SUM(article_view_num),0)article_class_view,
              COALESCE(COUNT(article_info.`article_id`),0)article_class_num
       FROM article_class
           LEFT JOIN article_info
               ON article_class.`article_class_id` = article_info.`article_class_id`
       GROUP BY article_class.`article_class_id`
   </select>
</mapper>